---
layout: default
title : 🌞Zechao Guan
navbar_title: Home
---

<div class="home">
  {% include widgets/profile_card.html %}

  {% include widgets/debug_repo_name.html %}

  {% include widgets/debug_url.html %}

  {% if site.data.display.homepage.show_experience %}
      {% include widgets/experience_card.html %}
  {% endif %}

  {% if site.data.display.homepage.show_news %}
      {% assign count_news = site.news | size %}
      {% if count_news > 0 %}
          {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
      {% endif %}
  {% endif %}

  {% if site.data.display.homepage.show_selected_publications %}
      {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
      {% 
          include widgets/publication_card.html 
          publications=pubs
          title='<i class="fas fa-star"></i> Selected Publications'
      %}
  {% endif %}

  <!-- 访问计数器 -->
  <div class="text-center mt-4 mb-4">
    <a href="https://info.flagcounter.com/0oQW">
      <img src="https://s05.flagcounter.com/map/0oQW/size_l/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/" 
           alt="Flag Counter" 
           border="0"
           style="max-width: 100%; height: auto;">
    </a>
  </div>
</div>
