---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%Y-%m-%d" }}
      </time>
      {% if page.author %}
        • {{ page.author }}
      {% endif %}
      {% if page.tags.size > 0 %}
        <div class="post-tags">
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
    <div class="related-posts">
      <h3>Related Posts</h3>
      <ul>
        {% assign related_posts = site.posts | where_exp:"post", "post.url != page.url" %}
        {% for post in related_posts %}
          {% assign common_tags = post.tags | where_exp:"tag", "page.tags contains tag" %}
          {% if common_tags.size > 0 %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>

<!-- MathJax -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> 